h1{
    color: purple;
}

h2{
    color: aqua;
    font-weight: bolder;
    font-size: 30px;
}

section > h2{
    color: blue;
}

article h2{
    color: red;
}

section article h2{
    color: orange;
}

h2 + h2{
    color: darkcyan;
}